.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products_summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.order_summary {
    background-color: bisque;
    position: sticky;
    z-index: 1;
    right: 0;
    top: 50px;
    bottom: 269px;
    width: 300px;
    height: 500px;
}

.order_summary h3 {
    color: crimson;
}

.btn-choice {
    background-color: crimson;
    color: white;
    padding: 10px;
    margin: 5px;
    border: 0;
}

.btn-reset {
    background-color: crimson;
    color: white;
    padding: 10px;
    margin: 5px;
    border: 0;
}

.random-generate {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    border-radius: 10px;
    padding: 5px;
}

.random-generate p {
    margin-right: 5px;
    color: white;
}

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .products_summary {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .order_summary {
        width: 200px;
    }
}